
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');
body {
  font-family: 'Cairo', sans-serif;
  background-color: #000;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}
header {
  padding: 40px 20px;
  background: radial-gradient(circle at top, #00c6ff, #000);
  box-shadow: 0 0 25px #00e0ff;
}
h1 {
  font-size: 42px;
  color: #00e0ff;
  text-shadow: 0 0 15px #00e0ff;
  margin: 0;
}
p {
  color: #d0d0d0;
}
.file-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}
.file-item {
  background-color: #111;
  border: 1px solid #00e0ff;
  box-shadow: 0 0 15px #00e0ff44;
  border-radius: 10px;
  margin: 10px;
  padding: 15px 25px;
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
.file-item:hover {
  transform: scale(1.03);
  box-shadow: 0 0 25px #00e0ffaa;
}
.file-item a {
  text-decoration: none;
  background-color: #00e0ff;
  color: #000;
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: bold;
}
.file-item a:hover {
  background-color: #00bcd4;
}
footer {
  background-color: #050505;
  padding: 20px;
  color: #aaa;
  font-size: 14px;
  border-top: 1px solid #00e0ff33;
  margin-top: 40px;
}
.msg {
  margin-top: 20px;
  color: #00ffcc;
  font-weight: bold;
  height: 20px;
}
